streamlit
pandas
numpy
plotly.express
matplotlib
json
geopandas
base64
datetime
shapely.geometry
folium
collections
streamlit_folium
dateutil.relativedelta
statsmodels.tsa.seasonal
statsmodels.tsa.arima.model
plotly.graph_objects