streamlit
pandas
numpy
plotly.express
geopandas
base64
datetime
shapely.geometry
folium
streamlit_folium
dateutil.relativedelta
statsmodels.tsa.seasonal
statsmodels.tsa.arima.model
plotly.graph_objects